body {
    background: #000;
    color: #fff;
    font-family: monospace;
    margin: 0;
}

.center-box {
    width: 90%;
    max-width: 350px;
    margin: 100px auto;
    text-align: center;
}

input {
    width: 100%;
    background: #000;
    border: none;
    border-bottom: 1px solid #555;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    outline: none;
}

button {
    width: 100%;
    background: transparent;
    border: 1px solid #444;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
}

.chat-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.messages {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}

.msg {
    margin-bottom: 15px;
    white-space: pre-wrap;
}

.send-area {
    display: flex;
    padding: 10px;
    border-top: 1px solid #444;
}

.send-area input[type=text] {
    flex: 1;
}

.send-area button {
    width: auto;
    margin-left: 10px;
}